* {
  box-sizing: border-box;
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  height: 100vh;
  background-color: #191d21;
  color: #fff;
  font-family: "Arial", sans-serif;
}

.form-control {
  background-color: #2c3139;
  border: none;
  border-radius: 4px;
  color: #fff;
  padding: 10px;
}

button[type="submit"],
input[type="button"] {
  background-color: #ffc107;
  color: white;
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  cursor: pointer;
}

.btn {
  background-color: #ffc107;
  color: white;
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  cursor: pointer;
  margin-top: 5px;
}

.separador {
  border-bottom: 1px solid #ddd;
  padding-bottom: 1em;
  margin-bottom: 1em;
}

ol {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

li {
  padding: 5px;
}

button.btn {
  background-color: #ffc107;
  color: white;
  border-radius: 0.5em;
  padding: 1em;
  border: none;
  cursor: pointer;
}

#check {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
